<form action="/cars" method="post">
  <label for="makeModel">Add a new car's make and model</label>
  <input id="makeModel" name="makeModel" type="text">
  <button type="submit">Submit</button>
</form>